body {
    background-color:rgb(44, 49, 38);
    color:rgb(47, 196, 47);
    font-family:Arial, Helvetica, sans-serif;
    
   
}
#topnav{
    background-color:rgb(20, 22, 17);
    border:5px solid rgb(20, 22, 17);
    padding:10px;
    box-shadow:0px 0px 10px 0px black, 0px 0px 20px 0px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;   
    transition:ease-in-out 0.3s;
}
#topnav a{
    color:white;
    text-decoration:none;
    font-size:22px;
    font-weight:bold;
    padding:15px;
}
#topnav a:hover{
    background-color:rgb(47, 196, 47);
    box-shadow:0px 0px 10px 0px rgb(47, 196, 47), 0px 0px 20px 0px rgb(47, 196, 47);
    transition:ease-in-out 0.3s;
    color:black;
}
.focim{
    text-align:center;
    font-size:70px;
    cursor:default;
    margin-bottom:25px;
    margin-top:25px;
    margin-top:40px;
    margin-bottom:40px;
    font-style:oblique;
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition:ease-in-out 0.3s;
}

.focim span{
    font-size:100px;
    color:rgb(255, 255, 255);
    border:5px solid rgb(47, 196, 47);
    border-radius:100%;
    padding:5px;
    padding-left:45px;
    padding-right:45px;
    transition: ease-in-out 0.3s;
    background-color: rgba(19, 19, 22, 0.37);
    font-style:normal;
    font-family:cursive;
    cursor:pointer;
    box-shadow:0px 0px 10px 0px black, 0px 0px 20px 0px black;
    transition:ease-in-out 0.3s;
}
.focim span:hover{
    font-size:105px;
    transition: ease-in-out 0.3s;
    box-shadow:0px 0px 10px 0px rgb(247, 0, 255), 0px 0px 20px 0px rgb(247, 0, 255);
   
    background-color:rgba(86, 11, 121, 0.225);
    color:rgb(255, 255, 255);
    border:3px solid rgba(0, 0, 0, 0);

}
p{
    margin-right:190px;
}
.focim a{
    text-decoration:none;

}
.tortenetkep{
    float:right;
    padding: 10px;
    border:3px solid greenyellow;
    width:200px;
}
.tortenetkepszoveg{
    position:relative;
    left:10px;
    right: 10px;
    top:5px;
    width:180px;
    height:auto;
    text-align:center;

}
.h2fooldal{
    font-size:50px;
    padding-right:100px;
    text-align:center;
}
.azoldalrolfooldal{
}
#azoldalrolfooldal{
    overflow-y:scroll;
    max-width:750px;
    padding-left:150px;
    font-size:50px;
    cursor:default;
    margin-left:25px;
    color:rgba(255, 255, 255, 0.63);
    background:rgba(47, 141, 19, 0.336);
    width:2000px;
    height:500px;
    text-align:justify;
    
}
.felsoszegely{
    width:102%;
    height:150px;
    margin-left:-10px;
    margin-right:-30px;
    margin-top:-8px;
}
.legsikeresebbkep{
    position:relative;
    display:inline-block;
    padding:15px;
    font-size:20px;
    transition:ease-in-out 0.3s;
    margin-left:400px;
    
    
}
.legsikeresebbalairas{
    border-radius:2vh;
    display:none;
    border:1px solid rgba(255, 255, 255, 0.148);
    margin-right:13px;
    margin-left:-1px;
    width:fit-content;
    position:absolute;
    background-color:rgb(21, 22, 19);
    font-weight:bold;
    margin-top:-10px;
    word-spacing: 2px;
    text-align:center;
    padding-top:15px;
    min-width:160px;
    z-index:1;
    box-shadow:0px 0px 10px 0px rgb(0, 0, 0), 0px 0px 50px 15px rgb(0, 0, 0);
    transition:ease-in-out 0.3s;
}
.legsikeresebbkep:hover .legsikeresebbalairas{
    display:block;
    cursor:default;
    transition:ease-in-out 0.3s;
    
    
}
.legsikeresebbalairas td{
    padding-bottom:25px;
    padding-right:20px;
    transition:ease-in-out 0.3s;
    
    
    
}
.legsikeresebbkep img{
    overflow:hidden;
    border:2px solid rgb(26, 23, 27);
    box-shadow:0px 0px 10px 0px rgb(0, 0, 0), 0px 0px 50px 15px rgb(0, 0, 0);
    border-radius:40%;
    transition:ease-in-out 0.3s;
    
    
}
.legsikeresebbkep:hover img{
    cursor:pointer;
    border-radius:2vh;
    transition:ease-in-out 0.3s;
    max-width:100%;
    max-height:100%;
}

.legsikeresebbalairas td:hover{
color:white;
}
.hatterkep1{
    margin-bottom:-70px;
    width:110%;
    height:180px;
    margin-left:-8px;
    margin-right:-70px;
    margin-top:-20px;
}
#srtablazat{
    font-size:30px;
}
.mufaj-kep2 {
    width: 400px;
    height: 250px;
}

.mufaj-kep {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    text-align: center;
}

.li-elem {
    max-width: 100rem;
    text-align: justify;
}

.tortenet-p {
    max-width: 100rem;
}

.vege-div {
    border: 70px solid rgb(44, 49, 38);
}

.terkoz {
    border: 20px solid rgb(44, 49, 38);
}
.sjh1{
    text-align:center;
    font-family: cursive;
    padding-bottom:25px;
    font-size:22px;
    border:3px solid rgb(116, 18, 155);
    background-color:rgba(0, 0, 0, 0.397);
    border-radius:5vh;
}
.sjh1:hover{
    border:3px solid rgb(255, 255, 255);
    font-size:2px;
}
