body {
    background-color:rgb(44, 49, 38);
    color:rgb(47, 196, 47);
    font-family:Arial, Helvetica, sans-serif;
   
}
#topnav{
    background-color:rgb(20, 22, 17);
    border:5px solid rgb(20, 22, 17);
    padding:10px;
    box-shadow:0px 0px 10px 0px black, 0px 0px 20px 0px black;
    
}
#topnav a{
    color:white;
    text-decoration:none;
    font-size:22px;
    font-weight:bold;
    padding:15px;
    transition:ease-in-out 0.3s;
}
#topnav a:hover{
    background-color:rgb(47, 196, 47);
    box-shadow:0px 0px 10px 0px rgb(47, 196, 47), 0px 0px 20px 0px rgb(47, 196, 47);
    transition:ease-in-out 0.3s;
    color:black;
}
.focim{
    text-align:center;
    font-size:70px;
    cursor:default;
    margin-bottom:25px;
    margin-top:25px;
    margin-top:40px;
    margin-bottom:40px;
}

.focim span{
    font-size:100px;
    color:rgb(255, 255, 255);
    border:5px solid rgb(47, 196, 47);
    border-radius:100%;
    padding:5px;
    padding-left:45px;
    padding-right:45px;
    transition: ease-in-out 0.3s;
    background-color: rgba(19, 19, 22, 0.37);
    font-family:cursive;
    cursor:pointer;
    box-shadow:0px 0px 10px 0px black, 0px 0px 20px 0px black;
}
.focim span:hover{
    font-size:105px;
    transition: ease-in-out 0.3s;
    box-shadow:0px 0px 10px 0px rgb(47, 196, 47), 0px 0px 20px 0px rgb(47, 196, 47);
   
    background-color:rgb(95, 5, 180);
    color:rgb(255, 255, 255);
    border:3px solid rgba(0, 0, 0, 0);

}
p{
    margin-right:190px;
}
.focim a{
    text-decoration:none;

}
.tortenetkep{
    float:right;
    padding: 10px;
    border:3px solid greenyellow;
    width:200px;
}
.tortenetkepszoveg{
    position:relative;
    left:10px;
    right: 10px;
    top:5px;
    width:180px;
    height:auto;
    text-align:center;

}
.h2fooldal{
    font-size:40px;
    margin-left:325px;
}
.azoldalrolfooldal{
   
    font-size:35px;
    
    text-align:left;
}
#azoldalrolfooldal{
    cursor:default;
    margin-left:25px;
    color:rgba(255, 255, 255, 0.61);
    background:rgba(0, 0, 0, 0.336);
    
}
.felsoszegely{
    width:100%;
    height:150px;
}